@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    @apply text-bg-dark dark:text-bg-light;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  li {
    @apply list-none;
  }

  h1 {
    @apply text-4xl font-semibold text-bg-dark dark:text-bg-light;
  }

  h2 {
    @apply text-3xl font-medium text-bg-dark dark:text-bg-light;
  }

  h3 {
    @apply text-2xl font-medium text-bg-dark dark:text-bg-light;
  }

  h4 {
    @apply text-xl font-medium text-bg-dark dark:text-bg-light;
  }

  h5 {
    @apply text-lg font-bold text-bg-dark dark:text-bg-light;
  }

  h6 {
    @apply text-base font-bold text-bg-dark dark:text-bg-light;
  }

  p {
    @apply text-base text-bg-dark dark:text-bg-light;
  }
}
